main {
  padding:30px;
}

.refrigerator {
  width: 400px;
  height:550px;
  left: 50%;
  transform: translateX(-50%);
  background:#f2f2f2;
  border-top-left-radius:20% 5%;
  border-top-right-radius:20% 5%;
  border-bottom-left-radius:20% 4%;
  border-bottom-right-radius:20% 4%;
  position: absolute;
  /* border:8px solid rgb(167, 167, 167);  */
  margin: 0 auto;
  background: linear-gradient(to right, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); 
  /* display:flex;
  align-items:center;
  justify-content: flex-end; */
  position:absolute;
  transition: all 600ms ease;
}

.refrigerator.open {
  left:calc(50% - 200px);
}

.refrigerator.open .backDoor {
  -webkit-transform: perspective(1200px) rotateY(180deg);
  transform: perspective(1200px) rotateY(180deg);
}

.doorText {
  transform:rotateY(-180deg);
  transition: all 600ms ease;
  opacity:0;
  padding:30px;
  width:100%;
  height:100%;
  background:#f2f2f2;
  border-top-left-radius:20% 5%;
  border-top-right-radius:20% 5%;
  border-bottom-left-radius:10% 4%;
  border-bottom-right-radius:10% 4%;
}

.refrigerator.open .doorText {
  opacity:1;
}

.doorText ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.doorText ul li {
  width:50%;
  padding:20px;
  height: 100px;
  text-align:center;
}

.handle {
  height:100px;
  width:12px;
  background:#686868;
  margin-right:30px;
  border-radius:10px;
}

.refrigerator.open .handle {
  display:none;
}

.backDoor {
  cursor:pointer;
  transition: all 600ms ease;
  position:absolute;
  top:0;
  left:0;
  /* border:8px solid rgb(167, 167, 167);  */
  width:100%;
  height:100%;
  border-top-left-radius:20% 5%;
  border-top-right-radius:20% 5%;
  border-bottom-left-radius:10% 4%;
  border-bottom-right-radius:10% 4%;
  display:flex;
  align-items:center;
  background: linear-gradient(to right, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); 
    background-image: linear-gradient(to right, #959597 0%, #dfdfe1 35%, #959597 65%, #d2d1d3 100%);
  -webkit-transform: perspective(1200px) rotateY(0deg);
  transform: perspective(1200px) rotateY(0deg);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

.backDoor:before {
  content:"";
  height:100px;
  width:12px;
  background:#686868;
  border-radius:10px;
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  left:30px;
}