.refrigerator {
  max-width:400px;
  height:calc(100vh - 150px);
  background:#f2f2f2;
  border-radius:10px;
  border:3px solid rgb(167, 167, 167);
  margin: 0 auto;
  background: linear-gradient(to right, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); 
  display:flex;
  align-items:center;
}

.handle {
  height:100px;
  width:10px;
  background:#3d3d3d;
  margin-left:30px;
  border-radius:10px;
}