main {
  padding:30px;
}

.refrigerator {
  width: 400px;
  height:600px;
  left: 50%;
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
  transform: translateX(-50%);
  background:#f2f2f2;
  border-radius:25px;
  position: absolute;
  /* border:8px solid rgb(167, 167, 167);  */
  margin: 0 auto;
  position:absolute;
  transition: all 600ms ease;
}

.refrigerator.open {
  left:calc(50% + 200px);
}

.refrigerator.open .backDoor {
  -webkit-transform: perspective(1200px) rotateY(-170deg);
  transform: perspective(1200px) rotateY(-170deg);
  cursor: default;
}

.shelves {
  transition: all 600ms ease;
  position:absolute;
  top:0;
  left:0;
  border:6px solid #494949; 
  width:100%;
  height:100%;
  padding:20px;
  border-radius:25px;
  background: #f6f6f6;
}

.doorText {
  transform:rotateY(-180deg);
  transition: all 600ms ease;
  opacity:0;
  padding:30px;
  width:100%;
  height:100%;
  background:#f5f5f5;
  border-radius:18px;
}

.refrigerator.open .doorText {
  opacity:1;
}

.shelves ul {
  display: flex;
  flex-direction: column;
  flex-direction:row;
  flex-wrap:wrap;
  background: #ececec;
  padding-bottom:67px;
  border:16px solid #e4e4e4;
  border-radius:12px;
  height:100%;
}

.shelves ul li {
  padding:15px 20px;
  font-size:24px;
  text-align:center;
  position:relative;
  z-index:2;
  font-weight:600;
  width:50%;
  padding:25px 12px 15px;
}

.shelves ul li:before {
  content:"";
  position: absolute;
  z-index:-1;
  width: calc(100% + 8px);
  bottom:15px;
  left:-10px;
  border-bottom: 7px solid #dadada;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}

.shelves ul li:after {
  background: #c5c5c5;
  content: "";
  width: calc(100% + 20px);
  height: 6px;
  position: absolute;
  left: -10px;
  z-index:-1;
  bottom: 9px;
}

.shelves ul li i {
  display:block;
  color:gray;
  padding-bottom:5px;
}


.handle {
  height:100px;
  width:12px;
  background:#686868;
  margin-right:30px;
  border-radius:10px;
}

.refrigerator.open .handle {
  display:none;
}

.backDoor {
  cursor:pointer;
  transition: all 600ms ease;
  position:absolute;
  top:0;
  left:4px;
  z-index:4;
  border:6px solid #494949; 
  width:100%;
  height:100%;
  border-radius:25px;
  background: rgb(255,255,255);
  background: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(190,190,190,1) 100%);
 -webkit-transform: perspective(1200px) rotateY(0deg);
  transform: perspective(1200px) rotateY(0deg);
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}

.backDoor:after {
  content:"";
  height:70px;
  width:12px;
  background:#494949;
  border-radius:10px;
  position:absolute;
  top:70px;
  transform:translateY(-50%);
  right:40px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
  z-index:-1;
}

.backDoor:before {
  content:"";
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
  height:150px;
  width:12px;
  background:#494949;
  border-radius:10px;
  position:absolute;
  top:250px;
  transform:translateY(-50%);
  right:40px;
}

.seperator {
  width:100%;
  position:absolute;
  height:6px;
  top:130px;
  left:0;
  z-index:12;
  background:#494949;
}

.upperDoor {
  padding-bottom:40px;
}

.upperDoor h3 {
  font-weight:bold;
  font-size:30px;
}

.upperDoor .edit-list {
  display:inline-block;
  margin-top:15px;
  background:#fff;
  color:black;
  padding:10px 15px;
}


.backDoor ul {
  padding:10px 0;
  max-height: 400px;
  overflow: scroll;
  list-style:initial;
  padding-left:30px;
}

.backDoor ul li {
  padding:10px 0;
  font-size:20px;
}